<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="im.adamant.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".AdamantApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AdamantLight"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".ui.SplashScreen"
            android:theme="@style/AdamantLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginScreen"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity
            android:name=".ui.MessagesScreen"
            android:theme="@style/AdamantLight.WithActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateUnchanged|adjustResize"
            android:exported="true">

            <!--
             VERY IMPORTANT: Activity exported, pay special attention because its call is accessible
             by the third-party application.
             Do not allow execution of destructive commands.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="messages"
                    android:scheme="adamant" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainScreen"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.ScanQrCodeScreen"
            android:exported="false"
            android:label="@string/activity_scan_qrcode_title" />
        <activity
            android:name=".ui.PincodeScreen"
            android:theme="@style/AdamantLight.PincodeTheme"
            android:exported="false"/>
        <activity
            android:name=".ui.RegistrationScreen"
            android:exported="false"
            android:label="@string/activity_registration_tv_title"
            android:theme="@style/AdamantLight.WithActionBar"/>
        <activity
            android:exported="false"
            android:name=".ui.ShowQrCodeScreen"
            android:label="@string/activity_show_qr_code_title"
            android:theme="@style/AdamantLight.WithActionBar"/>
        <activity
            android:exported="false"
            android:name=".ui.SendFundsScreen"
            android:theme="@style/AdamantLight.WithActionBar" />
        <activity
            android:name=".ui.NodesListScreen"
            android:exported="false"
            android:theme="@style/AdamantLight.WithActionBar"
            />
        <activity
            android:name=".ui.PushSubscriptionScreen"
            android:exported="false"
            android:theme="@style/AdamantLight.WithActionBar"/>


        <service
            android:name=".services.ServerNodesPingService"
            android:exported="false" />
        <service
            android:name=".services.AdamantBalanceUpdateService"
            android:exported="false" />
        <service
            android:name=".services.SaveContactsService"
            android:exported="false"
            />
        <service android:name=".services.AdamantFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--TODO: Write code for enable this service and receiver-->
        <service
            android:name=".services.AdamantLocalMessagingService"
            android:enabled="false"
            android:exported="false"
            android:process=":remote"/>


        <receiver
            android:name=".receivers.BootCompletedBroadcast"
            android:directBootAware="true"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>