<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.adamant.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="im.adamant.android.AdamantApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="im.adamant.android.ui.LoginScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="im.adamant.android.ui.ChatsScreen"
            android:label="@string/activity_chats_title" />
        <activity android:name="im.adamant.android.ui.MessagesScreen" />
        <activity
            android:name="im.adamant.android.ui.CreateChatScreen"
            android:label="@string/activity_chats_action_create_new" />
    </application>

</manifest>