<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.adamant.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AdamantApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashScreen"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity
            android:name=".ui.MessagesScreen"
            android:exported="true">

            <!--
             VERY IMPORTANT: Activity exported, pay special attention because its call is accessible
             by the third-party application.
             Do not allow execution of destructive commands.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="messages"
                    android:scheme="adamant" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CreateChatScreen"
            android:exported="false"
            android:label="@string/activity_chats_action_create_new" />
        <activity android:name=".ui.MainScreen" />
        <activity
            android:name=".ui.ScanQrCodeScreen"
            android:exported="false"
            android:label="@string/activity_scan_qrcode_title" />
        <activity
            android:name=".ui.PinCodeScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.CompanionDetailScreen" />

        <service
            android:name=".services.ServerNodesPingService"
            android:exported="false" />
        <service
            android:name=".services.AdamantBalanceUpdateService"
            android:exported="false" />
        <service
            android:name=".services.SaveContactsService"
            android:exported="false"
            />
        <service android:name=".services.AdamantFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.SaveSettingsService" />
    </application>

</manifest>